.forms{
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
}

.login-container {
  border-radius: 8px;
  padding: 40px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.heading {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 5px;
}

.paragraph {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  background: none;
  border: 1px solid #000000;
  padding: 15px 23px;
  font-size: 16px;
  border-radius: 8px;
  color: #979797;
  width: 100%;
}

.input-group input:focus {
 border: 2px solid black;
  outline: none;
}

button {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #0173ed;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0173ed;
}

.bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: black;
  font-size: 15px;
  font-weight: 400;
}

.bottom-text a {
  color: #0173ed;
  text-decoration: none;
  transition: color 0.3s ease;
}

.bottom-text a:hover {
  color: #3f95f2;
}


.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  animation: spin 10s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

/* From Uiverse.io by Fernando-sv */ 
.ref{
 margin: 0 auto;
 padding: 10px;
}

.recaptcha {
  border: 4px solid #0173ed;
  border-left-color: transparent;
  border-radius: 50%;
}

.recaptcha {
  border: 4px solid #0173ed;
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.recaptcha {
  border: 4px solid #0173ed;
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width:769px){
  .login-container{
    width: 95%;
  }

  .heading
 {
    font-size: 30px;
}

.paragraph {
    font-size: 12px;
    margin-bottom: 10px;
}

button {
    font-size: 15px;
}

.bottom-text {
    font-size: 12px;
}
}